body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: #d40b3a;

}

.active2 {
	background-color: white;
	color: #d40b3a;
}


img {
	margin: 0 auto;
}

.thumbnail:hover {
	transform: scale(1.1);	
}

footer {
	background-color: #333;
	color: white;
	padding: 2em;
	margin-top: 3em;
	margin-bottom: 0;
}
