.navbar {
  margin-bottom: 20px;
  background-color: #d40b3a;

}

.active2 {
	background-color: white;
	color: #d40b3a;
}


img {
	margin: 0 auto;
}

.thumbnail:hover {
	transform: scale(1.1);	
}

footer {	
	background-color: #333;
	color: white;	
	bottom:0;
	margin-top: 14em;
	padding: 2em;	
    width:100%;       
}

#bannerMovil {
	display: none;
}

@media screen and (max-width: 580px){
    #banner {
    	display: none;
    }

    #bannerMovil {
    	display: block;
    }
    
}

#boton:hover {
	opacity: .8;	
}

.softwareDiv0:hover {
	background-color: #D40B3A;	
}

.softwareDiv1:hover {
	background-color: gray;	
}

.softwareLink {
	color: #333;
}

.softwareLink0:hover {
	text-decoration: none;
	color: white;
}

.softwareLink1:hover {
	text-decoration: none;
	color: white;
}